* {
  align-items: center;
  text-align: center;
}


.contact-container {
  display: flex;
  flex-direction: row;
  margin : 2rem;
  padding: 2rem;
  
}

img {
  width : 150px;
 height:  150px;
 border-radius: 50%;
 margin : 1rem;
}

.name {
  font-size: 20px;
}

.Pins {
  width: 20px;
  height: 20px;
  background-color: green;
  border-radius: 80%;
}
.Pins2 {
  width: 20px;
  height: 20px;
  background-color: orange;
  border-radius: 80%;

}
.Pins3{
  width: 20px;
  height: 20px;
  background-color: rgb(90, 89, 87);
  border-radius: 80%;
}


